---
http_interactions:
- request:
    method: get
    uri: http://www.nbp.pl/kursy/xml/dir.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Last-Modified:
      - Fri, 30 Dec 2016 10:49:05 GMT
      Etag:
      - '"20a54578a62d21:0"'
    body:
      encoding: UTF-8
      string: "\uFEFFc001z160104\r\nh001z160104\r\na001z160104\r\nc002z160105\r\nh002z160105\r\na002z160105\r\nb001z160105\r\nc003z160107\r\nh003z160107\r\na003z160107\r\nc004z160108\r\nh004z160108\r\na004z160108\r\nc005z160111\r\nh005z160111\r\na005z160111\r\nc006z160112\r\nh006z160112\r\na006z160112\r\nc007z160113\r\nh007z160113\r\na007z160113\r\nb002z160113\r\nc008z160114\r\nh008z160114\r\na008z160114\r\nc009z160115\r\nh009z160115\[...]
- request:
    method: get
    uri: http://www.nbp.pl/kursy/xml/dir2016.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "\uFEFF<!doctype html>\r\n<html lang=\"pl\" dir=\"ltr\">\r\n<head>\r\n<meta
        http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\r\n\t<link
        href=\"/css/home.css\" type=\"text/css\" rel=\"stylesheet\" />\r\n\t<link
        href=\"/css/extra.css\" type=\"text/css\" rel=\"stylesheet\" />\r\n\t<link
        href=\"/css/nbpnew.css\" type=\"text/css\" rel=\"stylesheet\" />\r\n\t<meta
        http-equiv=\"refresh\" content=\"30; url=http://www.nbp.pl/\" />\r\n\t<title>Narodowy
        Bank Polski - Internetowy Serwis Informacyjny</title>\r\n</head>\r\n<body>\r\n\t<div
        id=\"pageHolder\">\r\n\t\t<div id=\"mainHeader\">\r\n\t\t\t<h1>Narodowy Bank
        Polski</h1>\r\n\t\t\t<ul id=\"topLinks\" class=\"navline nbvl nbvlL\">\r\n\t\t\t\t<li><a
        href=\"/home.aspx?f=/grupy_docelowe/analitycy_i_banki.html\">Analitycy</a></li>\r\n\t\t\t\t<li><a
        href=\"/home.aspx?f=/grupy_docelowe/szkoly_i_uczelnie.html\">Szkoły</a></li>\r\n\t\t\t\t<li><a
        href=\"/home.aspx?c=/ascx/kontakt_bp.ascx\">Media</a></li>\r\n\t\t\t\t<li><a
        href=\"/home.aspx?f=/o_nbp/oferty_pracy.html\">Praca</a></li>\r\n\t\t\t\t<li><a
        href=\"/homen.aspx?f=/srodeken.htm\">English</a></li>\r\n\t\t\t\t<li><a href=\"/home.aspx?f=/wyszukaj.htm\">Wyszukaj</a></li>\r\n\t\t\t</ul>\r\n\t\t\t<div
        id=\"headBanner\" class=\"pl\">\r\n\t\t\t\t<a href=\"/\" title=\"Strona główna
        NBP\"></a>\r\n\t\t\t</div>\r\n\t\t\t<div id=\"breadcrumbs\" class=\"navline\"></div>\r\n\t\t</div>\r\n\t\t<div
        id=\"mainHolder\">\r\n\t\t\t<div id=\"leftSide\">\r\n\t\t\t\t<div id=\"mainMenu\">\r\n\t\t\t\t\t<a
        class=\"bold ml10\" href=\"/\">Wróć na stronę główną »</a>\r\n\t\t\t\t</div>\r\n\t\t\t</div>\r\n\t\t\t<div
        id=\"article\">\r\n\t\t\t\t<div id=\"contentholder\" class=\"emptypage\">\r\n\t\t\t\t\t\t<p
        class=\"head1 httperror\">Błąd 404</p>\r\n\t\t\t\t\t\t<p class=\"head2\">Nie
        znaleziono strony / Page not found</p>\r\n\t\t\t\t\t\t<p>\r\n\t\t\t\t\t\t\tNie
        odnaleziono pliku, strony albo odpowiedniego rekordu w bazie\r\n\t\t\t\t\t\t\t(wskazanego
        w adresie strony).\r\n\t\t\t\t\t\t\t<br /><br />\r\n\t\t\t\t\t\t\tSerwis internetowy
        NBP został przebudowany, lokalizacje plików\r\n\t\t\t\t\t\t\tmogły ulec zmianie
        &ndash; proszę zaktualizować swoje zakładki.\r\n\t\t\t\t\t\t\t<br /><br />\r\n\t\t\t\t\t\t\tPrzepraszamy
        za utrudnienia!\r\n\t\t\t\t\t\t</p>\r\n\t\t\t\t</div>\r\n\t\t\t</div>\r\n\t\t\t<div
        id=\"rightSide\"></div>\r\n\t\t\t<div></div>\r\n\t\t</div>\r\n\t\t<div id=\"mainFooter\">\r\n\t\t\t<div
        id=\"bottomLinks\" class=\"navline\">\r\n\t\t\t  <nav>\r\n\t\t\t\t<ul class=\"nbvl
        nbvlL\">\r\n\t\t\t\t\t<li><a href=\"/home.aspx?c=/ascx/sitemap.ascx\">Mapa
        serwisu</a></li>\r\n\t\t\t\t\t<li><a href=\"/home.aspx?f=/faq/info.html\">Pytania
        i odpowiedzi</a></li>\r\n\t\t\t\t\t<li><a href=\"/home.aspx?f=/disclaimer.htm\">Status
        serwisu</a></li>\r\n\t\t\t\t\t<li><a href=\"/home.aspx?f=/cookies.html\">Polityka
        prywatności</a></li>\r\n\t\t\t\t\t<li><a href=\"/home.aspx?f=/przydatne_linki/przydatne_linki.html\">
        Przydatne linki</a></li>\r\n\t\t\t\t\t<li><a href=\"/home.aspx?c=/ascx/pki.ascx\">PKI
        NBP</a></li>\r\n\t\t\t\t\t<li><a href=\"http://www.docert.nbp.pl/home.aspx\">DOCert</a></li>\r\n\t\t\t\t\t<li><a
        href=\"/home.aspx?f=/banki_w_polsce/ewidencja/ewidencja.html\">Banki w Polsce</a></li>\r\n\t\t\t\t\t<li><a
        href=\"/home.aspx?f=/o_nbp/kontakty.htm\">Kontakt</a></li>\r\n\t\t\t\t</ul>\r\n\t\t\t
        \ </nav>\r\n\t\t\t</div>\r\n\t\t\t<div>\r\n\t\t\t\t<div id=\"footLogos\">\r\n\t\t\t\t\t<a
        href=\"http://www.bip.nbp.pl/\" target=\"_blank\">\r\n\t\t\t\t\t\t<img src=\"http://www.nbp.pl/img/bip.png\"
        alt=\"Biuletyn Informacji Publicznej NBP\" />\r\n\t\t\t\t\t</a>\r\n\t\t\t\t\t<a
        href=\"http://www.obserwatorfinansowy.pl/\" target=\"_blank\">\r\n\t\t\t\t\t\t<img
        src=\"http://www.nbp.pl/img/Obserwator_Logo1.png\" alt=\"www.obserwatorfinansowy.pl\"
        />\r\n\t\t\t\t\t</a>\r\n\t\t\t\t</div>\r\n\t\t\t\t<div id=\"socials\"></div>\r\n\t\t\t</div>\r\n\t\t</div>\r\n\t</div>\r\n</body>\r\n</html>"
  recorded_at: Sun, 01 Jan 2017 23:33:39 GMT
[...]
